[http]
		sslBackend = openssl
[credential]
		helper = store
[user]
		name = Fredrik Radholm
		email = fredrik.radholm@tietoevry.com
[pull]
		rebase = true
[push]
		autoSetupRemote = true
[maintenance]
	repo = /home/radhofre/.zsh/zsh-autosuggestions
	repo = /home/radhofre/.zsh/zsh-snap
	repo = /home/radhofre/.zsh/pure
	repo = /home/radhofre/.zsh/zsh-autocomplete
	repo = /home/radhofre/.zsh/zsh-syntax-highlighting
